* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tasksExplorer {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.board_title {
    font-size: 1.5rem;
    font-weight: 700;
}

.task {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin: 5px 0;
    cursor: grab;
    background-color: snow;
    display: flex;
}

    .task .pencilIcon {
        margin-left: auto;
    }

    .task .trashIcon {
        margin-left: 5%;
    }
